*Analisis exploratorio:

In [112]:
import pandas as pd
import plotly.express as px
import streamlit as st

car_data = pd.read_csv('vehicles_us.csv') # leer los datos

In [113]:
display(car_data.head())
car_data.info()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [114]:
# Calcular la media o mediana de las columnas relevantes para rellenar los valores nulos
model_year_mean = car_data['model_year'].mean()
cylinders_median = car_data['cylinders'].median()
odometer_median = car_data['odometer'].median()

# Rellenar valores nulos con asignación directa
car_data['model_year'] = car_data['model_year'].fillna(model_year_mean)
car_data['cylinders'] = car_data['cylinders'].fillna(cylinders_median)
car_data['odometer'] = car_data['odometer'].fillna(odometer_median)
car_data['paint_color'] = car_data['paint_color'].fillna('unknown')
car_data['is_4wd'] = car_data['is_4wd'].fillna(0)

# Convertir 'model_year' a tipo int
car_data['model_year'] = car_data['model_year'].astype('int')

# Convertir 'is_4wd' a 1 y 0 (de entero) antes de reemplazar
car_data['is_4wd'] = car_data['is_4wd'].apply(lambda x: 1 if x > 0 else 0)

# Convertir 'is_4wd' a "Sí" y "No"
car_data['is_4wd'] = car_data['is_4wd'].replace({1: 'Sí', 0: 'No'})

# Convertir 'date_posted' a tipo datetime
car_data['date_posted'] = pd.to_datetime(car_data['date_posted'])

display(car_data.head())
car_data.info()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,Sí,2018-06-23,19
1,25500,2009,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,Sí,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,No,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,113000.0,automatic,pickup,unknown,No,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,No,2019-04-02,28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int32
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  object
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(7)
memory usage: 4.9+ MB